@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply h-4 w-4 cursor-pointer hover:opacity-75;
  }
  .fullscreen-button {
    @apply h-7 w-7 cursor-pointer hover:opacity-75;
  }
  .stay {
    @apply flex items-center px-5;
  }
  .res-icon {
    @apply hidden lg:inline;
  }
  .shaddy {
    @apply shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)];
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Figtree", sans-serif !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  /* Disable dragging elements */
  user-drag: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -o-user-drag: none;

  /* Disable highlighting elements */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
}

a {
  text-decoration: none !important;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin-bottom: 0 !important;
}

.temporary-bounce {
  -webkit-animation-iteration-count: 2.5;
  animation-iteration-count: 2.5;
}

.transparent {
  background: rgba(255, 255, 255, 0.08) !important;
  box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(0.175rem) !important;
  -webkit-backdrop-filter: blur(0.175rem) !important;
  border: 0.0625rem solid rgba(255, 255, 255, 0.12) !important;
}

.card {
  position: relative;
  padding: 1.2rem;
  width: 12rem;
  max-height: 25rem;
  border-radius: 1rem !important;
  display: inline-block !important;
  margin: 1rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.12) !important;
  background-color: #181818 !important;
}

.card:hover {
  background-color: #282828 !important;
}

.card--img {
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
}

.search--input {
  border-radius: 20px !important;
  width: 20rem !important;
}

.search--input::-webkit-input-placeholder {
  font-size: small;
  font-family: "Figtree", sans-serif !important;
  padding: 1rem;
}
.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}
